@import "tailwindcss";

@theme {
  --color-darkBg: #050208;
  --color-accent: #00fff7;
  --color-blueL: #00fff7;
  --color-secondC: #263AFF;
  --color-pinkcust: #00fff7;
  --font-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif;

  /* Animación para Dev (un ligero balanceo de código) */
  --animation-soft-shake: soft-shake 8s ease-in-out infinite;
  /* Animación para Growth (sube y baja suavemente) */
  --animation-float: float 4s ease-in-out infinite;
  /* Animación para Hybrid (pulso de energía) */
  --animation-glow-pulse: glow-pulse 4s ease-in-out infinite;

  
}

@keyframes soft-shake {
  /* Se mueve solo del 0% al 30% */
  0% { transform: rotate(0deg); }
  5% { transform: rotate(-15deg); }
  7% { transform: rotate(15deg); }
  8% { transform: rotate(-8deg);}
  9% { transform: rotate(5deg);}
  10% { transform: rotate(0deg);}
  
  
  100% { transform: rotate(0deg); }
}

@keyframes float {
  0% { transform: translateY(0); }
  15% { transform: translateY(-10px) rotate(-10deg);}
  30% { transform: translateY(0); }
  100% { transform: translateY(0); }
}

@keyframes glow-pulse {
  0% { transform: scale(1); filter: drop-shadow(0 0 2px #00fff7); }
  15% { transform: scale(1.15); filter: drop-shadow(0 0 15px #00fff7); }
  30% { transform: scale(1); filter: drop-shadow(0 0 2px #00fff7); }
  100% { transform: scale(1); filter: drop-shadow(0 0 2px #00fff7); }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes rotate-border {
  to { --angle: 360deg; }
}

.glow-static {
  /* Un degradado radial que nace del centro del botón hacia afuera */
  background: radial-gradient(circle, rgb(0, 255, 247) 0%, transparent 80%);
  filter: blur(30px);
}

/* Nueva clase para el resplandor difuminado */
.glow-follow {
  background: conic-gradient(from var(--angle), transparent 60%, #00fff7);
  filter: blur(35px);
  opacity: 1;
  
}

@layer base {
  body {
    font-family: var(--font-sans);
    @apply bg-darkBg text-white;
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}