@import "tailwindcss";

@theme {
  --color-darkBg: #050208;
  --color-accent: #00fff7;
  --color-blueL: #00fff7;
  --color-secondC: #263AFF;
  --color-pinkcust: #00fff7;
  --font-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    font-family: var(--font-sans);
    @apply bg-darkBg text-white;
  }
}
